body {
    text-align: center;
    font-family: 'Epilogue', sans-serif;
}

h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 60px;
    margin-bottom: 10px;
}

#greetings {
    margin-top: 5px;
    font-size: 20px;
}

#instructions {
    line-height: 10px;
    margin-top: 25px;
    margin-bottom: 50px;
    font-size: 18px;
}

#password {
    padding: 5px;
    width: 300px;
    max-width: 100%;
}

#samplePassword {
    background-color: #ffd5af;
    margin: auto;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

#formosa {
    font-size: 15px;
    margin-bottom: 6px;
    margin-top: 20px;
}

input {
    margin-top: 10px;
}

button {
    margin: 10px 0;
    font-family: inherit;
}

#correctMessage {
    margin-top: 5px;
    font-size: 14px;
    color: green;
}

#incorrectMessage {
    margin-top: 5px;
    font-size: 14px;
    color: red;
}